* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #F2F0F1;
    color: gray;
    line-height: 1.6;
}


header {
    background-color: beige;
   
}
 
 .sign-up {

   background-color: #000000;
   color: white;
   height: 38px;
   text-align: center;
   position: relative;
   padding-top: 8px;


 }

 .sign-up span {
   padding-top: 4px;
 }

 .sign-up a {
   color: white;

 }

 .fa-xmark {
   display: inline-block;
   position: absolute;
   color: white;
   margin-left: 440px;
   top: 10px;
 }

 .fa-xmark:hover{
    color: red;
 }
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    gap: 80px;
    background-color: #FFFFFF;
}

.logo {
    font-family: "Integral CF";
    font-weight:bolder;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 1);
    margin-left: 40px;
}

.nav-links {
    display: flex;
    width: 400px;
    height: 22px;
    gap: 24px;
}

.nav-links a {
    font-family: "Satoshi", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: rgba(0, 0, 0, 1);
    text-decoration: none; 
}

.nav-links a:hover {
    color: #555;
    cursor: pointer;
}

.search-bar {
    width: 900 px;
    height: 48px;
    display: flex;
    flex-direction: row;
    border-radius: 62px;
    gap: 12px;
    padding: 12px 16px 12px 16px;
    background-color: #F0F0F0;
    flex-grow: 1;
}

.search-bar i {
    width: 24px;
    height: 24px;
    padding-top: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.search-bar input {
    font-family: 'Satoshi', Arial, Helvetica, sans-serif;
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #F0F0F0;
    color: rgba(0, 0, 0, 0.4);
    border: none;

}



.user-actions a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    margin-right: 40px;
}

.user-actions a:hover {
    color: rgba(0, 0, 0, 1);
}
.cart-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: wheat;
    border-radius: 10px;

}

.cart-section h2 {
    font-size: 28px;
    margin-bottom: 20px;

}


.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.cart-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.item-details h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.item-details p {
    font-size: 14px;
}

.price {
    font-size: 16px;
    color: red;
    margin-top: 5px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.quantity-control button {
    background-color: whitesmoke;
    border: none;
    width: 30px;
    height: 30px;
    font-size: 16px;
}

.quantity {
    margin: 0 10px;
    font-size: 16px;
}

.remove-item {
    background: none;
    border: none;
    color: #ff6b6b;
    margin-left: 15px;
    font-size: 16px;
}


.order-summary {
    margin-top: 30px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 10px;
}

.order-summary h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.summary-item.total {
    font-weight: bold;
    margin-top: 15px;
    padding-top: 15px;
}

.discount {
    color: red;
}

.checkout-btn {
    background-color: lightslategray;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.checkout-btn:hover {
    background-color: darkslategrey
}